{% extends "layout.html" %}

{% block title %}
    Learn
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">


        <div class="col-6 flip my-2">
          <div class="flip-inner">
              <div class="flip-front" style="background: #3498db;">
                  <!-- Content for the front of the flip -->
                  <h2>Stocks</h2>
              </div>
              <div class="flip-back p-3" style="background: #53baff;">
                  <!-- Content for the back of the flip -->
                  <p>Stocks represent ownership in a company, making you a shareholder with a fractional stake in that business. There are two main types of stocks: common and preferred. Common stocks grant voting rights, allowing you to participate in important decisions, while preferred stocks do not offer voting privileges but prioritize you in receiving profits and in the event of a sale.
                    <br><br>
                    As a shareholder, you enjoy various benefits, including dividends, which are a portion of a company's profits returned to you, and capital appreciation, which is the increase in the stock's value over time. Owning more shares gives you more say in company decisions.
                    <br><br>
                    Stocks are distinct from bonds, which are essentially loans to a company. Bonds provide periodic interest payments and are prioritized in the event of bankruptcy. Stock trading typically occurs on stock exchanges, where prices fluctuate based on supply and demand.
                    <br><br>
                    Investing in stocks carries risks, with the possibility of stock prices declining. However, historically, stocks tend to perform well over the long term. In essence, owning stocks allows you to be a part-owner of a company, offering the chance to share in its profits, influence its direction, and potentially see your investment grow, even though some risk is involved.
                    </p>
              </div>
          </div>
      </div>

      <div class="col-6 flip my-2">
        <div class="flip-inner">
            <div class="flip-front" style="background: #db3f34;">
                <!-- Content for the front of the flip -->
                <h2>Stock Market</h2>
            </div>
            <div class="flip-back p-3" style="background: #ff5353;">
                <!-- Content for the back of the flip -->
                <p>The stock market is the place where stocks are bought and sold, much like a bustling marketplace. It's where investors interact to trade shares of various companies. Here, stocks change hands, and their prices fluctuate based on supply and demand.
                  <br><br>
                  In essence, think of the stock market as a grand bazaar with different stalls representing various companies. Investors visit these stalls to buy and sell shares. Stock markets provide liquidity, allowing investors to convert their shares into cash when needed.
                  <br><br>
                  There are two key types of stock markets: the primary market, where companies issue new stocks to raise capital, and the secondary market, where most trading occurs among investors. The secondary market is where you, as an investor, play a significant role in buying and selling stocks.
                  <br><br>
                  Stock markets come in various forms, including major exchanges like the New York Stock Exchange (NYSE) and Nasdaq, where established companies list their stocks. Smaller exchanges and over-the-counter (OTC) markets cater to emerging businesses.
                  <br><br>
                  Stock markets are dynamic and react to news, company performance, and economic conditions. Stock prices can change quickly, making the market an exciting yet potentially risky place to invest.
                  <br><br>
                  Investors access the stock market through brokerage accounts, acting as gateways to place buy and sell orders. It's like having a personal trader facilitating your trades. You specify the number of shares you want to buy or sell and the price you're willing to pay. Trades occur when your order matches a counterparty's.
                  <br><br>
                  The stock market is a center of financial activity, where investors trade stocks, react to market events, and potentially grow their wealth. It offers opportunities and risks, and understanding its operations is essential for anyone considering stock investments. In investing, the stock market is where you actively participate in building and managing your investment portfolio, making it a key component of the financial landscape.
                   </p>
            </div>
        </div>
    </div>
        </div>



    <div class="row my-1">
      <div class="col-md-6 flip my-2">
        <div class="flip-inner">
            <div class="flip-front" style="background: #ebab22;">
                <!-- Content for the front of the flip -->
                <h2>Buying/Selling</h2>
            </div>
            <div class="flip-back p-3" style="background: #ffc64c;">
                <!-- Content for the back of the flip -->
                <p>    <b>Buying Stocks:</b>
                  <br><br>
          Begin by selecting a brokerage account, which serves as your platform for stock transactions. Research companies, assessing their financial health and growth potential to choose stocks that align with your investment goals. In your brokerage account, place a buy order, specifying the number of shares and the price you're willing to pay. You can use market orders for the current price or limit orders for a specific price. Double-check your order details and confirm. Once executed, you become a shareholder in the chosen company.
          <br><br>
          <b>Selling Stocks:</b>
          <br><br>
          When deciding to sell, evaluate factors such as the company's performance, stock price, and your financial objectives. In your brokerage account, enter the number of shares and choose between market orders for the current price or limit orders for a specific price. Carefully review your sell order, then confirm. Your shares will be sold at the agreed-upon price.
          <br><br>
          <b>Tips:</b>
          <br><br>

              - Diversify your investments to reduce risk
              <br>
              - Define your investment goals realistically
              <br>
              - Stay informed about developments related to your investments
              <br>
              - Be aware of brokerage fees and their impact on returns
              <br>
              - Understand that investing often involves holding stocks for the long term
              <br>
              - Manage risk by considering your risk tolerance and adjusting your investments accordingly

              <br><br>
          Buying and selling stocks is a crucial part of your overall investment strategy. Approach it with knowledge and careful planning to work toward your financial objectives.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 flip my-2">
      <div class="flip-inner">
          <div class="flip-front" style="background: #be3ce9;">
              <!-- Content for the front of the flip -->
              <h2>Shorting/Covering</h2>
          </div>
          <div class="flip-back p-3" style="background: #d355fd;">
              <!-- Content for the back of the flip -->
              <p> <b>Shorting Stocks:</b>
                <br><br>
        Shorting, or "short selling," is the practice of selling stocks you don't own with the expectation that their price will drop. Here's how it works:
        <br><br>
        Begin by borrowing the stocks from your brokerage or another lender. You're essentially betting that their price will fall. Once you've borrowed the stocks, sell them at the current market price. You receive the sale proceeds but also create an obligation to replace the borrowed stocks. Keep a close eye on the market. Your goal is to repurchase the same number of stocks at a lower price to replace the borrowed stocks. When the stock price falls as you expected, repurchase the stocks at the reduced price, replacing the borrowed shares. You return the borrowed shares to the lender.
        <br><br>
        <b>Covering Stocks:</b>
        <br><br>
        Covering stocks is the process of closing a short position by repurchasing the borrowed shares. Here's how to do it:
        <br><br>
        Monitor the market closely. You aim to buy back the borrowed shares when the price has fallen. Once the stock's price reaches your target or drops as expected, place a buy order for the same number of shares you initially borrowed. Double-check your buy order details, ensuring it matches the number of borrowed shares. Confirm the purchase. The purchased shares are used to replace the borrowed ones. You return the borrowed shares to the lender.
        <br><br>
        <b>Tips:</b>
        <br>
            - Shorting involves risks as you can incur losses if the stock's price rises instead of falling.
            <br>
            - It's essential to have a margin account with your brokerage for shorting.
            <br>
            - Pay attention to brokerage fees, including any associated with shorting and covering stocks.
            <br>
            - Shorting can be complex, and it's not suitable for all investors. Be sure to understand the risks and market dynamics before attempting short selling.
        </p>
          </div>
      </div>
  </div>

    </div>
  </div>



{% endblock %}
