{% extends "layout.html" %}

{% block title %}
    Mission
{% endblock %}

{% block main %}

    <div>
        <h3><b>Our Mission</b></h3>
        <br>
    </div>
    <div class="container mt-4">
        <div class="row">
        <div class="col-md-4">
       At LEAF (Learning, Equity, And Finance), we are deeply committed to a mission that goes beyond mere financial services.
       Our passion is fueled by an unwavering belief that financial education should be a universal right, not a privilege limited to a select few.
        We cannot ignore the stark reality that many children raised in lower-income households face a lifetime of financial hardship, perpetuating a cycle of poverty that spans generations.
        This is a systemic issue, a form of oppression that disproportionately affects poor communities, and we refuse to stand idly by.
    </div>
        <img src="/static/money.png" class="col-md-4 d-inline-block align-text-top">

       <div class="col-md-4">
        The finance industry, like many others, has long been plagued by a lack of diversity and inclusivity, with Wall Street remaining an exclusive club, dominated by a majority of white males.
        This exclusionary dynamic doesn't just harm those currently involved in the industry; it discourages the next generation, especially girls and minority children, from exploring careers in finance.
        The barriers are not merely financial; they are also structural and systemic.
        Our mission is clear: to redefine finance as an inclusive industry where all are welcome, regardless of their race, gender, religion, or sexual orientation.

       </div>

    </div>
    </div>

    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <img src="/static/bubble1.png" class="col-md-6 d-inline-block align-text-top">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">

            <div class="col-md-5"></div>

            <img src="/static/bubble2.png" class="col-md-6 d-inline-block align-text-top">
            <div class="col-md-1"></div>
        </div>
        <div class="row">

            <div class="col-md-3"></div>
            <img src="/static/bubble3.png" class="col-md-6 d-inline-block align-text-top">
            <div class="col-md-3"></div>

        </div>



    </div>
    <div class="container mx-auto p-4" style="width: 350px; margin-top: 100px; border-radius: 10px; background: #ebab22">
        Together, we break the chains of financial inequality, and we create a brighter, more equitable future for all. Let's make finance an industry where dreams are nurtured, and potential is realized, one investment at a time.
    </div>

{% endblock %}
